<div class= "user-container stats">
  <href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  <h1>
    <%= @user.name %>'s Stats:
  </h1>
  <h1>Wins:
    <%= @user.wins %>
  </h1>
  <h1>Losses:
    <%= @user.losses %>
  </h1>
  <br>
  <div class="new-game-btn">
    <%= button_to "New Game", "/games/new", method: :get, class: 'user-buttons' %>
  </div>
  <div class= "log-out-btn">
    <%= button_to "Log Out", "/sessions", method: :delete, class: 'user-buttons' %>
  </div>
</div>
